@charset "UTF-8";
/*==================================================
|	General CSS                                     |	
====================================================*/
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	overflow-x: hidden;
}

/* For full Height */
.main-content {
	min-height: 79vh;
}

/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

/* Utility Class */
.hidden {
	display: none;
}

.header-mobile {
	display: none;
}

/*==================================================
|	Header		                                    |	
====================================================*/
.header-row {
	display: flex;
	padding: 0 25px;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
	height: 15vh;
	align-items: center;
}

.header-column {
	width: 50%;
}

.header-logo {
	font-size: 25px;
	text-decoration: unset;
	color: #fff;
	font-weight: bold;
	margin-left: 25px;
	letter-spacing: 4px;
}

.header-user {
	color: #fff;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: right;
	margin-top: 0;
	margin-right: 25px;
}

.header-user .user-logout {
	color: #fff;
	text-decoration: none;
}

/* Navigation */
.header-nav {
	float: right;
	margin-right: 25px;
}

.header-nav ul {
	margin: 0;
	list-style-type: none;
}

.header-nav ul li {
	display: inline-block;
	transition: all 0.3s ease-in-out;
}

.header-nav ul li a, 
.header-nav ul li p {
	color: #FFFFFF;
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
}

.header-nav ul li p.divider {
	margin: 0 25px;
}

/* Link hover styling */
.header-nav ul li a:hover,
.header-user .user-logout:hover {
	color: #2C9AB7;
}

/*==================================================
|	Internal                                       |	
====================================================*/
/* Main Content Section */
.main-content {
	background-color: #FFFFFF;
	padding-top: 10vh;
	padding-bottom: 15vh;
}

/* Typography */
.main-content h1 {
	color: #202020;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
	letter-spacing: 4px;
}

.main-content a {
	font-weight: bold;
	color: #52BAD5;
}

.main-content a:hover {
	color: #2C9AB7;
}

.main-content p.error {
	color: #d55252;
	text-align: center;
}

/* Form Style */
.form {
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
}

.input-text, 
.input-select, 
.input-button,
.pay-button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #EFEFEF;
	border-radius: 5px;
}

.input-text.mobile-no {
	display: inline-block;
}

.input-text.mobile-no {
	width: 83.5%;
}

.input-text.mobile-no.fixed {
	width: 15%;
	text-align: center;
	pointer-events: none;
}

.input-button{
	background-color: #52BAD5;
	border: 0 !important;
	color: #FFFFFF;
	margin-top: 40px !important;
	margin-bottom: 30px !important;
}

.pay-button{
	background-color: #52BAD5;
	border: 0 !important;
	color: #FFFFFF;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.input-button:hover {
	background-color: #258199;
	cursor: pointer;
}

.pay-button:hover {
    background-color: #258199;
    cursor: pointer;
}

/* Register Page Styling */
.main-content a.link {
	display: block;
	text-align: center;
}

/* Footer Styling */
footer {
	display: flex;
	position: relative;
	height: 6vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #717070;
	color: #FFFFFF;
	letter-spacing: 2px;
	border-top-width: 2px;
}

/* Order Summary Typhography */
.table-summary p {
	text-align: center;
}

.table-summary p.warning {
	color: #d55252;
}

/* Order History Typhography */
.table-history p {
	text-align: center;
}

.table-history span.price {
	text-align: right;
	font-weight: bold;
}

.table-history p.failed {
	color: orange;
}

.table-history p.cancelled {
	color: #d55252;
}

.table-history p.success {
	color: greenyellow;
}

.table-history p span.code {
	color: black;
	font-weight: bold;
}


/* Search Bar */
.search-container {
	width: 700px;
	margin: auto;
}

.search-bar .input-text {
	display: inline-block;
	width: 75.3%;
}

.search-bar .input-button {
	display: inline-block;
	width: 24%;
}

/* Order History Pagination */
.pagination {
	list-style-type: none;
	display: flex;
	width: 700px;
	padding: 10px 0;
	margin: 20px auto 0;
	justify-content: end;
}

.pagination li {
	padding-right: 10px;
}

.pagination li a {
	background-color: #e2e6e6;
	padding: 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #616872;
	border-radius: 4px;
}

.pagination li a:hover {
	background-color: #d4dada;
}

.pagination .next a, .pagination .prev a {
	text-transform: uppercase;
	font-size: 12px;
}

.pagination .currentpage a {
	background-color: #52BAD5;
	color: #fff;
}

.pagination .currentpage a:hover {
	background-color: #2C9AB7;
}

/* Table */
table {
	border-collapse: collapse;
	width: 700px;
	margin: auto;
}

td, 
th {
	padding: 10px;
}

th {
	background-color: #54585d0e;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #54585d;
}

td {
	color: #636363;
	border: 1px solid #dddfe1;
}

tr {
	background-color: #f9fafb;
}

tr:nth-child(odd) {
	background-color: #7571712c;
}

td .order-info {
	min-width: 95%;
}


/* Resposive for 981px and 1024 Screen */
@media screen and (min-width: 981px) and (max-width: 1099px) {

}

/* Resposive for mobile */
@media (max-width: 320px) {
	/* Header */
	header {
		display: block;
		padding: 15px 0;
	}
	.logo {
		display: block;
		text-align: center;
		margin: 0 0 20px;
	}
	.header-nav {
		margin: 0;
	}
	.header-nav a.header-mobile {
		display: block;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
	}
	.header-nav .header-menu {
		display: none;
	}
	.header-nav ul li {
		float: none;
	}
	
	/* Body */
	.container {
		width: 100%;
	}
	.main-content {
		padding: 20px;
	}
	
	/* Form */
	.input-text {
		width: 80%;
	}
	.input-button {
		width: calc(80% + 24px) !important;
	}
}

/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
	/* header */
	header {
		display: block;
		padding: 15px 0;
	}
	.logo {
		display: block;
		text-align: center;
		margin: 0 0 20px;
	}
	.container header .header-nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}
	.header-nav .header-menu {
		display: none;
	}
	.header-nav ul li {
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

/* For Mobile and Tablet */
@media only screen and (max-width: 980px) {
	.text_column {
		width: 100%;
	}

	.thumbnail {
		width: 50%;
	}

	.text_column {
		width: 100%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}

	.banner {
		margin-top: 0px;
		padding-top: 0px;
	}
}

/* 981px & 1024px screen fix */
@media only screen and (min-width: 981px) and (max-width: 1099px){

}
