@charset "UTF-8";
/* General Styling */
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
	overflow-x: hidden;
}

/* For full Height */
.main-content {
	height: 75vh;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	display: flex;
	justify-content: space-between;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
	height: 15vh;
	align-items: center;
}
.logo {
	font-size: 18px;
	text-decoration: unset;
	color: #fff;
	font-weight: bold;
	margin-left: 25px;
	letter-spacing: 4px;
}
.header-nav {
	text-align: right;
	margin-right: 25px;
}
.header-nav ul {
	margin: 0;
	list-style-type: none;
}
.header-nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
.header-nav ul li a, 
.header-nav ul li p {
	color: #FFFFFF;
	text-decoration: none;
	margin: 0;
}

.header-nav ul li a:hover {
	color: #2C9AB7;
}

/*==================================================
|	Internal                                       |	
====================================================*/

/* Main Content Section */
.main-content {
	background-color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 150px;
}

/* input form styling */
.input-form {
	margin-top: 5%;
}

/* Typography */
.main-content h1 {
	color: #202020;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	margin-left: 0px;
	letter-spacing: 4px;
}
.main-content a {
	font-weight: bold;
	color: #52BAD5;
}
.main-content a:hover {
	color: #258199;
}
.main-content p {
	color: #d55252;
	text-align: center;
}

/* Form Style */
.form {
	text-align: center;
	max-width: 300px;
	margin: 0 auto;
}

.input-text, .input-select, .input-button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	padding: 10px;
	border: 2px solid #EFEFEF;
	border-radius: 5px;
}

.input-text.mobile_no {
	display: inline-block;
}

.input-button {
	width: 324px !important;
	background-color: #52BAD5;
	border: 0 !important;
	color: #FFFFFF;
	margin-top: 40px !important;
	margin-bottom: 30px !important;
}
.input-button:hover {
	background-color: #258199;
	cursor: pointer;
}

/* Register Page Styling */
.main-content a.link {
	display: block;
	text-align: center;
}

/* Footer Styling */
footer {
	display: flex;
	position: absolute;
	height: 10vh;
	width: 90%;
	justify-content: center;
	align-items: center;
	background-color: #717070;
	color: #FFFFFF;
	letter-spacing: 2px;
	border-top-width: 2px;
}	

/* Utility Class */
.hidden {
	display: none;
}

.header-mobile {
	display: none;
}

/* Resposive for 981px and 1024 Screen */
@media screen and (min-width: 981px) and (max-width: 1099px) {

}

/* Resposive for mobile */
@media (max-width: 320px) {
	/* Header */
	header {
		display: block;
		padding: 15px 0;
	}
	.logo {
		display: block;
		text-align: center;
		margin: 0 0 20px;
	}
	.header-nav {
		margin: 0;
	}
	.header-nav a.header-mobile {
		display: block;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
	}
	.header-nav .header-menu {
		display: none;
	}
	.header-nav ul li {
		float: none;
	}
	
	/* Body */
	.container {
		width: 100%;
	}
	.main-content {
		padding: 20px;
	}
	
	/* Form */
	.input-text {
		width: 80%;
	}
	.input-button {
		width: calc(80% + 24px) !important;
	}
}

/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
	/* header */
	header {
		display: block;
		padding: 15px 0;
	}
	.logo {
		display: block;
		text-align: center;
		margin: 0 0 20px;
	}
	.container header .header-nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}
	.header-nav .header-menu {
		display: none;
	}
	.header-nav ul li {
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

/* Small Desktops */
@media ( min-width : 768px ) and (max-width : 981px ){
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
